<div class="form-item">
    <div class="form-header">
        <div class="form-title" ng-class="">
            Form Generator
        </div>
        <div class="form-actions">
            Form Actions
        </div>
    </div>
    <div class="form-content">
        <div class="form-builder">
            <div class="form-body">
                <div class="form-step">
                    <ul class="row step-small">
                        <li class="col-md-4 bg-grey step-item active">
                            <a href="#general" data-toggle="tab">
                                <div class="step-number">1</div>
                                <div class="step-title uppercase font-grey">General</div>
                                <!--<div class="step-content font-grey">General setup</div>-->
                            </a>
                        </li>
                        <li class="col-md-4 bg-grey step-item">
                            <a href="#layout" data-toggle="tab">
                                <div class="step-number">2</div>
                                <div class="step-title uppercase font-grey">Layout</div>
                                <!--<div class="step-content font-grey">Layout setup</div>-->
                            </a>
                        </li>
                        <li class="col-md-4 bg-grey step-item">
                            <a href="#confirm" data-toggle="tab">
                                <div class="step-number">3</div>
                                <div class="step-title uppercase font-grey">Confirm</div>
                                <!--<div class="step-content font-grey">Confirm setup</div>-->
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="section-heading">
                                    General Form Setup
                                </h3>
                            </div>
                        </div>

                        <div class="setup-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>
                                        Form Settings
                                    </h4>
                                    <hr>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-4">
                                            Is Multistep? 
                                        </label>
                                            <div class="col-md-8">
                                                <label class="radio">
                                                <input type="radio" name="isMultistepRadios" ng-model="form_isMultistep">True
                                            </label>
                                                <label class="radio">
                                                <input type="radio" name="isMultistepRadios" ng-model="form_isMultistep">False
                                            </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-4">
                                            Form Type
                                        </label>
                                            <div class="col-md-8">
                                                <label class="radio">
                                                <input type="radio" name="formLayoutRadios" ng-value="'default'" ng-model="vm.form.form_layout">Default
                                            </label>
                                                <label class="radio">
                                                <input type="radio" name="formLayoutRadios" ng-value="'form-horizontal'" ng-model="vm.form.form_layout">Form Horizontal
                                            </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4>
                                        Form Style Settings
                                    </h4>
                                    <hr>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-4">
                                            Background Color
                                        </label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="email" class="form-control" name="form_icon" ng-model="vm.form.form_name_color">
                                                    <span class="input-group-addon">
                                                    <a class="colorSelection" href="#" ng-click="vm.selectColor()">View Colors</a>
                                                </span>
                                                </div>
                                                <span class="help-block"> Please select color for the form name </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="layout">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="section-heading">
                                    Form Layout Setup
                                </h3>
                            </div>
                            <div class="col-md-4">
                                <div class="layout-actions pull-right">
                                    <a href="#" class="btn btn-outline green" ng-class="vm.edit == true ? 'active': ''" ng-click="vm.edit = true">Build</a>
                                    <a href="#" class="btn btn-outline green" ng-class="vm.edit != true ? 'active': ''" ng-click="vm.edit = false">Preview</a>
                                </div>
                            </div>
                        </div>
                        <div class="setup-content">
                            <ng-form-generator form="vm.form" edit="vm.edit"></ng-form-generator>
                        </div>
                    </div>
                    <div class="tab-pane" id="confirm">
                        <h3 class="section-heading">
                            Form confirmation
                        </h3>
                        <div class="setup-content">
                            test
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-nav">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a href="#" class="btn btn-outline green button-previous">
                            <i class="fa fa-angle-left"></i> Back
                        </a>
                        <a href="#" class="btn btn-outline green button-next">
                            Continue
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <a href="#" class="btn btn-outline green button-submit">
                            Submit
                            <i class="fa fa-check"></i>
                        </a>
                    </div>
                </div>
                <!--<div class="row">
                    <pre>{{vm.form | json}}</pre>
                </div>-->
            </div>
        </div>
    </div>
</div>